@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0; 
    
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
  }

  .section1, footer{
    background-color: #1f2937;
        
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 50px;
    margin: 2px 70px 50px;
  }

  .logo-text{
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .link{
    font-size: 18px;
  }

  ul{
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
  }

  a,
  .secondary-text {
    color: #e5e7eb;
    text-decoration: none;
    margin-bottom: 8px;
  }

  .main-text{
    font-size: 48px;
    font-weight:bold;
    color: #f9faf8;
    margin-right: 5px;
  }

  button{
    background-color: #3882F6;
    color: #ffffff;
    border: 0;
    padding: 5px 20px;
    border-radius: 5px;
  }

  .hero{
    display: flex;
    justify-content: space-between;
    padding: 0 50px 50px;
    margin: 0 70px 50px;
  }
.placeholder{
  background-color: #787e86;
  width: 350px;
  height: 200px;
  
  }

  .place-text{
  display: flex;
  text-align: center;
  padding: 50px;
  }

  span{
    display: block;
  }

  .section2{
    /* display: flex; */
    
  }

  .info-header{
    display: flex;
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
    color: #1f2937;
    justify-content: center;
  }

  .wrapper,
  .items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
  }

  .empty{
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-bottom: 5px;
  }
  .item {
    
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;

  }

  .section3{
    display: flex;
    background-color: #E5E7EB;
  }

  .quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;  
    padding: 50px 70px;
    margin: 50px 50px; 
  }

  .blue{
    display: flex;
    padding: 40px;
    margin: 70px;
    background-color: #3882F6;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
  }


  .call{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
  }

  footer{
    text-align: center;
    padding: 20px;
    color: white;
  }